asgiref==3.8.1
astroid==3.2.2
bcrypt==3.2.2
attrs==21.4.0
blessed==1.19.1
beautifulsoup4==4.12.3
boto3
botocore
bs4==0.0.2
certifi==2024.2.2
charset-normalizer==3.3.2
coreapi==2.3.3
coreschema==0.0.4
dill==0.3.8
Django==4.2.5
django-extensions==3.2.3
django-cors-headers==4.3.1
django-reversion==5.0.12
django4-rest-swagger==1.1.0
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1 
djangorestframework-swagger==0.2.2
et-xmlfile==1.1.0
GDAL
idna==3.7
install==1.3.5
isort==5.13.2
itypes==1.2.0
Jinja2==3.1.4
jmespath==1.0.1
logilab-common==2.0.0
MarkupSafe==2.1.5
mccabe==0.7.0
future
six

mypy-extensions==1.0.0
numpy
openapi-codec==1.3.2
openpyxl==3.1.2
psycopg==3.1.19
PyJWT==2.8.0
pylint==3.2.2
python-dateutil==2.9.0.post0
PyYAML==6.0.1
requests==2.32.2
rest-framework-simplejwt==0.0.2
rest_framework_swagger_zl==0.0.4
pyuwsgi==2.0.21
reloadium==1.4.1
pycparser==2.21
rsa==4.7.2
s3transfer==0.10.1
semantic-version==2.8.5
simplejson==3.19.2
six==1.16.0
soupsieve==2.5
sqlparse==0.5.0
tomlkit==0.12.5
typing_extensions==4.11.0
uritemplate==4.1.1
urllib3
pathspec==0.10.1
texttable==1.6.4
uWSGI==2.0.25.1
virtualenv==20.14.1
virtualenv-clone==0.5.7
wcwidth==0.1.9
websocket-client==0.59.0
Werkzeug==2.2.3
