{% extends 'registration/base.html' %}

{% block content %}
  {% if validlink %}
    <h1>Change password</h1>
    <form method="POST" class="post-form">
      {% csrf_token %}
      <p class="newpwdhint">
        <input class="login-form-control" placeholder="New password" type="password" name="new_password1" required="" id="id_new_password1"><i class="fas fa-info-circle helptext"></i>
      </p>     
     
      <p>
        <input class="login-form-control" placeholder="New password confirmation" type="password" name="new_password2" required="" id="id_new_password2">
      </p>
      <div class="errorlist inline-error">{{ form.new_password2.errors }}</div>
      <button class="btn-main" type="submit">Change password</button>
    </form>

  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
{% endblock %}  

{% block scripts %}
{{ block.super }}

 <script>
$(document).ready(function(){
  $('.helptext').tooltip({title: "<ul><li>Your password cant be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password cant be a commonly used password.</li><li>Your password cant be entirely numeric.</li></ul>", html: true, placement: "right"}); 
});
</script>
{% endblock %}