<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Gear Up Admin Page</title>
{% load static %}
<link rel="stylesheet" href="{% static 'css/custom.css' %}" >
</head>
<body>
    <div class="login-wrap">
        <div class="login-logo">
            <img src="{% static 'images/logo.png' %}" alt="logo"/>
        </div>
        {% if next %}
            <form method="POST" action="/login/?next={{next}}" class="post-form">
        {% else %}
            <form method="POST" action="{% url 'login' %}" class="post-form">
        {% endif %}
            {% csrf_token %}
            <h1>Login</h1>
            
            <input type="text" name='email' placeholder="Email Id" required="true" id="id_email" class="login-form-control"/>
            <div class="errorlist inline-error">{{ form.email.errors }}</div>

            <input type="password" name="password" placeholder="Password" required="true" id="id_password" class="login-form-control"/>

            <div class="errorlist inline-error">{{ form.password.errors }}</div>

            <div class="btn-main-row">
                <button type="submit" class="btn-main">Login</button>
                <a href="/password_reset/" class="forgot-pwd">Forgot password?</a>
            </div>
        </form>
    </div>
</body>
</html>
