{% if credentials %}
	<div class="row">
		<div class="col-md-10">
			<div class="table-responsive">
				<table id="credential_list" class="table table-striped table-bordered" style="width:100%">
					<thead>
						<tr>
							<th>Silent Login Credentials.(Username/Password)</th>
							<th>Copy</th>
							<th>Delete</th>
						</tr>
					</thead>
					<tbody>
						{% for credential in credentials %}
						<tr>
							<td>
								<input type="text" disabled="true" value="{{credential.user__username}}" name="username" /> / <input id="{{credential.user_id}}"  disabled="true" type="password" value="{{credential.silent_login_password}}" name="password" />
								<a href="#" onclick="showPassword('{{credential.user_id}}')">
									<i class="far fa-eye"></i>
								</a>
							</td>
							<td>
								<a href="#" onclick="copyCredential({'username': '{{credential.user__username}}', 'password': '{{credential.silent_login_password}}'})" class="text-info">
									<i class="far fa-clone"></i>
								</a>
							</td>
							<td>
								<a href="#" onclick="deleteCredential({'id': '{{credential.user_id}}'})" class="text-danger">
									<i class="far fa-trash-alt"></i>
								</a>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endif %}
